<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable annotation processing -->
    <context:annotation-config/>

    <!-- Scan package for annotated beans -->
    <context:component-scan base-package="com.ns"/>

    <!-- Manual XML-defined beans -->
    <bean id="emailMessageFormatter"
          class="com.notifysys.model.EmailMessageFormatter"
          p:recipient="admin@example.com" />

    <bean id="onlineMessageService"
          class="com.notifysys.service.OnlineMessageService"
          c:formatter-ref="emailMessageFormatter"
          c:serviceName="Online Notification Service" />

</beans>